<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <h1>Athletes</h1>
</div>

<% @athletes.each do |athlete|  %>
  <div class="col-md-3">
  	<div class="jumbotron">
  		<%= link_to (image_tag athlete.avatar.url(:thumb)), athlete %>
  		<h4 class="text-center"><%= athlete.name %></h4>
  	</div>
  </div>
<% end %>

<div class="clearfix"></div>
<%= link_to 'New Athlete', new_athlete_path %>
<br>
<%= link_to 'Events', events_path %> |
<%= link_to 'Athletes', athletes_path %>