<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

  </div>
 
  <div class="actions">
    
  </div>


<form class="form-horizontal">
  <fieldset>

    <div class="form-group">
      <label for="eventTitle" class="col-lg-2 control-label">Title</label>
      <div class="col-lg-10">
        <%= f.text_field :title, id: "eventTitle", class: "form-control" %>        
      </div>
    </div>

    <div class="form-group">
      <label for="eventTitle" class="col-lg-2 control-label">
    <%= f.label :date %></label>
      <div class="col-lg-10">
        <%= f.date_field :date %>  
      </div>
    </div>

    <div class="form-group">
      <label for="eventTitle" class="col-lg-2 control-label">Rounds</label>
      <div class="col-lg-10">
        <%= f.text_field :rounds, id: "rounds", class: "form-control" %>        
      </div>
    </div>
    <div class="form-group">
      <label for="eventTitle" class="col-lg-2 control-label">Athletes</label>
      <div class="col-lg-10">
            <%= f.select :athlete_ids, Athlete.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, class: "form-control" %>        
      </div>
    </div>

    <div class="form-group">
      <label for="profilePicture" class="col-lg-2 control-label">Profile Picture</label>
      <div class="col-lg-10">
        <div class="checkbox">
          <label>
              <div class="field">
                <%= f.file_field :eventlogo %>
              </div>   
          </label>
        </div>
      </div>
    </div>
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary"><%= f.submit %>
        </button>
      </div>
    </div>
<% end %>
  </fieldset>
</form>