<p id="notice"><%= notice %></p>
<div class="jumbotron text-center">
	<h1><%= @event.title %></h1>
</div>
<div class="row">

<!-- Event Info -->
  <div class="col-md-6">
      <div class="jumbotron">
          <h4><%= @event.date %></h4>
          <h4><%= @event.days_until_event %> days until <%= @event.title %></h4>
          <%= link_to (image_tag @event.eventlogo.url(:favi)) %>

      </div>
  </div>
  <div class="col-md-6">
      <div class="jumbotron">
          <h4><%= @event.athletes.size %> athletes</h4>
      </div>
  </div>
</div>
<%= @hiscore %>
<!-- TABLE -->
<table class="table table-hover table-condensed">
    <thead>
      <th> </th>
      <th> </th>
      <th>Top Score</th>
      <th>Add Run</th>

    </thead>
    <tbody>
    <% @athletes.each do |athlete| %>
      <tr class="active">
        <td>
          <%= link_to (image_tag athlete.avatar.url(:favi)), athlete %>
        </td>
        <td>
          <%= link_to athlete.name, athlete, class: "btn btn-warning"  %>

        </td>

        <% if @runs.where(athlete_id: athlete).any? %>
        <td>
        <%= link_to @runs.where(athlete_id: athlete).order(score: :desc).collect{|x|x.score}[0], @event, class: "btn btn-success" %>
        </td>
      <% end %>

        <td>
          <%= link_to "+", new_event_run_path(@event, athlete_id: athlete.id), class: "btn btn-primary" %>
        </td>



        <% athlete.runs.where(:event_id => @event).order(score: :desc).each do |run| %>
          <td>
            <%= link_to run.score, run, class: "btn btn-error" %>
          </td>
        <% end %>

        <% athlete.runs.order(score: :desc) do |run| %>
        <td>
          <% run.athlete %>
        </td>
        <% if run %>
            <td>
              <%= link_to run.score, run, class: "btn btn-success" %>
            </td>
        <% end %>
        <% @runs.all.where(athlete_id: run.athlete.id).uniq.each do |allrun| %>
            <td>
              <%= allrun.score %>
            </td>
        <% end %>
        </tr>
      <% end %>
      <td>
      </td>
  <% end %>        
      </tr>
    </tbody>
  </table>



<!-- TABLE -->
<table class="table table-hover table-condensed">
    <thead>
      <tr>d
      </tr>
    </thead>
    <tbody>

    <% @order.all.each do |run| %>
      <tr class="active">
        <td>
          <%= link_to (image_tag run.athlete.avatar.url(:favi)), run %>
        </td>
        <td>
          <%= link_to run.athlete.name, run, class: "btn btn-warning"  %>
        </td>

        <% if run.score %>
            <td>
              <%= link_to run.score, run, class: "btn btn-success" %>
        <% end %>
            </td>
            <% @runs.all.where(athlete_id: run.athlete.id).uniq.each do |allrun| %>
            <td>
              <%= allrun.score %>
            </td>
        <% end %>
      </tr>
    <% end %> 
  </tbody>
</table>

        <% @athletes.each do |athlete| %>
          <%= athlete.name  %>
          <br/>
        <% end %>

<%= link_to 'New Run', new_run_path(@event) %> | 
<%= link_to 'Edit', edit_event_path(@event) %> | 
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<br><br>
<%= link_to 'Events', events_path %> |
<%= link_to 'Athletes', athletes_path %>

</div>