<p id="notice"><%= notice %></p>
  <strong><%= @event.title %></strong>

<p>
  
  <% @event.athletes.each do |athlete| %>
  	<%= link_to athlete.name, new_run_path(@event)  %>
	  	<% athlete.runs.where(:event_id => @event).order(score: :desc).each do |run| %>
	  		<%= link_to run.score, run %>
	  	<% end %>
	  	<br/>
  <% end %>

</p>

<%= link_to 'Edit', edit_event_path(@event) %> | 
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<br><br>
<%= link_to 'Events', events_path %> |
<%= link_to 'Athletes', athletes_path %>
