<p id="notice"><%= notice %></p>
<div class="jumbotron">
	<h1><%= @event.title %></h1>
</div>
<div class="row">
  <div class="col-md-6">
      <div class="jumbotron">
        
      </div>
  </div>
  <div class="col-md-6">
      <div class="jumbotron">
        
      </div>
  </div>
</div>
<table class="table table-hover table-condensed">
    <thead>
      <tr>

      </tr>
    </thead>
    <tbody>
    <% @event.athletes.order(created_at: :asc).each do |athlete| %>
      <tr class="active">
        <td>
          <%= link_to (image_tag athlete.avatar.url(:favi)), athlete %>
        </td>
        <td>
          <%= link_to athlete.name, athlete, class: "btn btn-warning"  %>
        </td>
        <td>
          <%= athlete.nationality %>
        </td>

		    <% athlete.runs.where(:event_id => @event).order(score: :desc).each do |run| %>

      <td>
        <%= link_to run.score, run, class: "btn btn-error" %>
      </td>

	  	<% end %>
      <% athlete.runs.order(score: :desc) do |run| %>
      <td>
        <% run %>
      </td>
      <% end %>
      <td>
      </td>
  <% end %>        
      </tr>
    </tbody>
  </table>

<%= link_to 'New Run', new_run_path(@event) %> | 
<%= link_to 'Edit', edit_event_path(@event) %> | 
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<br><br>
<%= link_to 'Events', events_path %> |
<%= link_to 'Athletes', athletes_path %>

</div>