<p id="notice"><%= notice %></p>
      <div class="jumbotron">
      <h1><%= @run.event.title %></h1>
        <h3> <%= @run.athlete.name %>'s <%= @run.athlete.runs.count.ordinalize  %> Run</h3>
        	
        	
        	<%= link_to @run.event.title, @run.event, class: "btn btn-primary btn-lg" %>
        	<%= link_to @run.score, @run, class: "btn btn-primary btn-success btn-lg" %>      
        	<br>
        	<br>  

        	<%= image_tag @run.image.url %>

<br>
<br>
<br>
<%= link_to 'Edit', edit_run_path(@run), class: "btn btn-primary btn-info btn-sm"  %>
<%= link_to 'Runs', runs_path, class: "btn btn-primary btn-info btn-sm"  %>

        </p>
      </div>